.o_field_widget_radio label.selected {
    font-weight: bold;
}

.o_field_widget_radio input[type="radio"] {
    display: none;
}

.o_field_widget_radio label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.o_field_widget_radio label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.o_field_widget_radio input[type="radio"]:checked + label:before {
    background-color: green;
}

.o_field_widget_radio input[value="unpaid"] + label:before {
    background-color: red;
}

.o_field_widget_radio input[value="inconformidade"] + label:before {
    background-color: gray;
}